
<article class="section">
    <div class="container">
        <div class="col-md-9 contents">
            <div class="projects projects-list">
                <ul class="media-list">
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                        <figure class="hover-strip pull-left">
                            <a class="pull-left" href="">
                                <%= image_tag('banner.png')%>
                            </a>
                            <div class="date-tag">JAM</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Construction</a></h4>
                            <ul class="options">
                                <li><i class="icon-map-marker"></i>In Hoima</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p>
                        </div>
                    </li>
                    
                </ul>
            </div>
           
        </div>
        
        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
                <ul>
                    <li><a href="#">Nursing school</a><i class="icon-map-marker"></i></li>
                    <li><a href="#">School at Rubanda</a><i class="icon-map-marker"></i></li>
                    <li><a href="#">Kishanje</a><i class="icon-map-marker"></i></li>
                    <li><a href="#">Hoima</a><i class="icon-map-marker"></i></li>
                    <li><a href="#">Kampala</a><i class="icon-map-marker"></i></li>
                </ul>
            </div>
        </div>
    </article>
