
<article class="section">
    <div class="container">
        <div class="col-md-9 contents">
            <div class="projects projects-list">
                <ul class="media-list">
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                        <figure class="hover-strip pull-left">
                            <a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                                <img src="./Helping Hand projects_files/img-24.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Health and Education</a></h4>
                            <ul class="options">
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
           
        </div>
        
<article class="section">
    <div class="container">
        <div class="col-md-9 contents">
            <div class="projects projects-list">
                <ul class="media-list">
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                        <figure class="hover-strip pull-left">
                            <a class="pull-left" href="">
                                <img src="./Helping Hand projects_files/img-24.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Health and Education</a></h4>
                            <ul class="options">
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
           
        </div>
        
        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
                <ul>
                    <li><a href="#">Active Projects</a>(15)</li>
                    <li><a href="#">Implemented Projects</a>(12)</li>
                    <li><a href="#">Help</a>(05)</li>
                    <li><a href="#">Human</a>(15)</li>
                    <li><a href="#">Mercy</a>(07)</li>
                </ul>
            </div>
        </div>
    </article>

        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
                <ul>
                    <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Active Projects</a>(15)</li>
                    <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Implemented Projects</a>(12)</li>
                    <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Help</a>(05)</li>
                    <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Human</a>(15)</li>
                    <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Mercy</a>(07)</li>
                </ul>
            </div>
        </div>
    </article>
