<div class="bg"></div>
<div class="jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7" style="">
                <h2>Juna Amagara Ministries</h2>
                <p>
                    The mission of this ministry is to raise up and equip children in Uganda with the tools they need to become leaders within their community.  It is our vision to empower their personal and spiritual growth by providing children with safe shelter, quality education, balanced nutrition, health education and vocational training
                </p>
            
            </div>
            
            <div class="col-md-5 col-lg-5" style="background-color:#884500;">
               
                <div class="panel panel-default">
                    <div class="panel-body">
                    
                    <div id="MyCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#MyCarousel" data-slide-to="1"></li>
                      <li data-target="#MyCarousel" data-slide-to="2"></li>
                      <li data-target="#MyCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                         <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>

                
                    </div>
                    <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
                      <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#MyCarousel" data-slide="next">
                      <span class="icon-next"></span>
                    </a>
                  </div>
            </div>

        </div>
    </div>
</div>  













<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-lg-8 ">
            
        </div>
        <div class="col-md-4 col-lg-4 ">
            <iframe src="http://player.vimeo.com/video/88617114?title=0&byline=0&portrait=0&color=00b952" width="971" height="228" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        
    </div>
    
</div>
