<div class="jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7" style="">
                <h2>Juna Amagara Ministries</h2>
                <p>
                    The mission of this ministry is to raise up and equip children in Uganda with the tools they need to become leaders within their community.  It is our vision to empower their personal and spiritual growth by providing children with safe shelter, quality education, balanced nutrition, health education and vocational training
                </p>
                <button class="btn"><a class="">Click to watch 10TH universary video</a></button>
            </div>
            
            <div class="col-md-5 col-lg-5" style="background-color:#884500;">
               
                <div class="panel panel-default">
                    <div class="panel-body">
                    
                    <div id="MyCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                      <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#MyCarousel" data-slide-to="1"></li>
                      <li data-target="#MyCarousel" data-slide-to="2"></li>
                      <li data-target="#MyCarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="item active">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                         <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>
                      <div class="item">
                        <%= image_tag("banner.png", :class => "img-circle")%>
                        <div class="carousel-caption right-caption">uywd bue sdjg cjdgc dbjsg</div>
                      </div>

                
                    </div>
                    <a class="left carousel-control" href="#MyCarousel" data-slide="prev">
                      <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#MyCarousel" data-slide="next">
                      <span class="icon-next"></span>
                    </a>
                  </div>
            </div>

        </div>
    </div>
</div>  

<article class="section" style="background-color:#EABD6c; color:black">
    <div class="container">
        <header class="heading text-center animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
            <font size="+2">A Ministry of Hope for AIDS Orphans in Uganda</font>
        </header>
        <p class="margn-btm-80 animated fadeInUp in" data-animation="fadeInUp" data-delay="200">The HIV/AIDS epidemic is destroying families and entire cultures throughout Africa.  But in Uganda, there is hope. This East African Republic long ago built a coalition of government, churches and schools that has worked to dramatically slow the spread of HIV/AIDS and offer relief to infected victims. More than a million people have died here since the disease began, leaving over 1.5 million children without parents. Though Ugandans have taken in more than 700,000 orphans as their own children, some 800,000 are left to care for themselves. Juna Amagara Ministries was founded in 2004 to help these children grow in Christ to become healthy, productive members of society. Juna Amagara means "Saving Life."
        </p>
        
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 animated pulse in" data-animation="pulse" data-delay="200">
                <div class="causes-box">
                    <figure>
                        <img src="img-4.jpg" alt="image">
                        <figcaption>
                            <a href="saved_resource.html" class="btn btn-default">Donate Now</a>
                        </figcaption>

                    </figure>
                    <div class="causes-detail">
                        <h6><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Change a Life Through Education</a></h6>
                        <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                        <div class="effect">
                            <p></p>
                            <div class="causes-hover">
                                <p class="help-text">Help to Collect this...</p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</article>
    
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-lg-8 ">
            

            
        </div>
        <div class="col-md-4 col-lg-4 ">
            <iframe src="http://player.vimeo.com/video/88617114?title=0&byline=0&portrait=0&color=00b952" width="971" height="228" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        
    </div>
    
</div>
