<div class="container">
    <div class="comment-area">
        <h3>Frequently asked questions</h3>
        <ul class="user-comments section">
            <% @faq.each do |f|%>
                <li>
                    <div class="comment-box animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
                        
                        <div class="comment-tp">
                            <p><%= f.title %></p>
                        </div>
                        <div class="comment-bt">
                            <p><%= f.description %> </p>
                        </div>
                    </div>
                    
                </li> 
            <% end %> 
            
        </ul>
    </div>
    <div class="label"><%= paginate @faq %></div>
</div>
