<div class="container">
	<article class="section">
	<div class="container">
        
        <div class="col-md-9 contents">
        
            <div class="causes causes-list">
            	<ul>
                	<li class="animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
                        <div class="causes-box">
                            <figure>
                                <img src="./Helping Hands_files/img-18.jpg" alt="image">
                            </figure>
                            <div class="causes-detail">
                               <div class="text">
                                    <h5><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Childhood/Health</a></h5>
                                    <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        <span class="min-val">$0.0</span>
                                        <span class="current-val">30%</span>
                                        <span class="max-val">$70,000</span>
                                    </div>                        	
                                    <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...<a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">[Read More]</a></p>
                                </div>
                                <div class="causes-msg">
                                	<p>we need to collect</p>
                                    <p class="target-amount color-theme">$70,000</p>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/causes.html#" class="btn btn-primary">Donate Now</a>
                                    <p>Help to Collect this</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                	<li class="animated fadeInRight in" data-animation="fadeInRight" data-delay="0">
                        <div class="causes-box">
                            <figure>
                                <img src="./Helping Hands_files/img-19.jpg" alt="image">
                            </figure>
                            <div class="causes-detail">
                               <div class="text">
                                    <h5><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Child, Youth and Family Services</a></h5>
                                    <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        <span class="min-val">$0.0</span>
                                        <span class="current-val">30%</span>
                                        <span class="max-val">$70,000</span>
                                    </div>                        	
                                    <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...<a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">[Read More]</a></p>
                                </div>
                                <div class="causes-msg">
                                	<p>we need to collect</p>
                                    <p class="target-amount color-theme">$70,000</p>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/causes.html#" class="btn btn-primary">Donate Now</a>
                                    <p>Help to Collect this</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                	<li class="animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
                        <div class="causes-box">
                            <figure>
                                <img src="./Helping Hands_files/img-20.jpg" alt="image">
                            </figure>
                            <div class="causes-detail">
                               <div class="text">
                                    <h5><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Donate and Give Clean Water</a></h5>
                                    <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        <span class="min-val">$0.0</span>
                                        <span class="current-val">30%</span>
                                        <span class="max-val">$70,000</span>
                                    </div>                        	
                                    <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...<a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">[Read More]</a></p>
                                </div>
                                <div class="causes-msg">
                                	<p>we need to collect</p>
                                    <p class="target-amount color-theme">$70,000</p>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/causes.html#" class="btn btn-primary">Donate Now</a>
                                    <p>Help to Collect this</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                	<li class="animated fadeInRight in" data-animation="fadeInRight" data-delay="0">
                        <div class="causes-box">
                            <figure>
                                <img src="./Helping Hands_files/img-21.jpg" alt="image">
                            </figure>
                            <div class="causes-detail">
                               <div class="text">
                                    <h5><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Feeding the Hungry in South Africa</a></h5>
                                    <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        <span class="min-val">$0.0</span>
                                        <span class="current-val">30%</span>
                                        <span class="max-val">$70,000</span>
                                    </div>                        	
                                    <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...<a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">[Read More]</a></p>
                                </div>
                                <div class="causes-msg">
                                	<p>we need to collect</p>
                                    <p class="target-amount color-theme">$70,000</p>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/causes.html#" class="btn btn-primary">Donate Now</a>
                                    <p>Help to Collect this</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                	<li class="animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
                        <div class="causes-box">
                            <figure>
                                <img src="./Helping Hands_files/img-22.jpg" alt="image">
                            </figure>
                            <div class="causes-detail">
                               <div class="text">
                                    <h5><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Animal Welfare, Rights</a></h5>
                                    <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        <span class="min-val">$0.0</span>
                                        <span class="current-val">30%</span>
                                        <span class="max-val">$70,000</span>
                                    </div>                        	
                                    <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...<a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">[Read More]</a></p>
                                </div>
                                <div class="causes-msg">
                                	<p>we need to collect</p>
                                    <p class="target-amount color-theme">$70,000</p>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/causes.html#" class="btn btn-primary">Donate Now</a>
                                    <p>Help to Collect this</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                	<li class="animated fadeInRight in" data-animation="fadeInRight" data-delay="0">
                        <div class="causes-box">
                            <figure>
                                <img src="./Helping Hands_files/img-23.jpg" alt="image">
                            </figure>
                            <div class="causes-detail">
                               <div class="text">
                                    <h5><a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">Workforce Development.</a></h5>
                                    <p class="post-meta">we need to collect <strong class="color-theme"> $70,000</strong></p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                        <span class="min-val">$0.0</span>
                                        <span class="current-val">30%</span>
                                        <span class="max-val">$70,000</span>
                                    </div>                        	
                                    <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...<a href="http://wow-themes.com/demo/html/helpinghands/causes-detail.html">[Read More]</a></p>
                                </div>
                                <div class="causes-msg">
                                	<p>we need to collect</p>
                                    <p class="target-amount color-theme">$70,000</p>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/causes.html#" class="btn btn-primary">Donate Now</a>
                                    <p>Help to Collect this</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                    
                </ul>
            </div>
            
                                                                                       

        </div>

        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
				<ul>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">Active Projects</a>(15)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">Implemented Projects</a>(12)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">Help</a>(05)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">Human</a>(15)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">Mercy</a>(07)</li>
                </ul>
            </div>
            
            <div class="widget widget_featured_posts animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Featured Posts</h4>
                </header>
				<ul>
                	<li>
                    	<div class="featured-box">
                        	<figure class="image"><img src="./Helping Hands_files/img-39.jpg" alt="image"></figure>
                            <h6>Child, Youth and Family Services</h6>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sagittis lacus vel libero, a augueamet...</p>
                            <a href="http://wow-themes.com/demo/html/helpinghands/blog-detail.html" class="btn btn-default btn-sm">Read More</a>
                        </div>
                    </li>
                	<li>
                    	<div class="featured-box">
                        	<figure class="image"><img src="./Helping Hands_files/img-40.jpg" alt="image"></figure>
                            <h6>Childhood / Health</h6>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sagittis lacus vel libero, a augueamet...</p>
                            <a href="http://wow-themes.com/demo/html/helpinghands/blog-detail.html" class="btn btn-default btn-sm">Read More</a>
                        </div>
                    </li>
                </ul>
			</div>
            
            <div class="widget widget_archive animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Projcet Archive</h4>
                </header>
				<ul>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">December 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">November 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">October 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">September 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">August 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">July 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">June 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">May 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">April 2013</a></li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/causes.html#">March 2013</a></li>
                </ul>
            </div>
        </div>
        
    </div>

</article>

</div>