<div class="container">

    <div class="comment-area">
        <h3>Amagara News</h3>
        <ul class="user-comments section">
            <% @news.each do |f|%>
                <li>
                    <div class="comment-box animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
                        <figure>
                            <%= image_tag f.avatar(:medium) %>
                        </figure>
                        <div class="comment-tp">
                            <p><%= f.title %></p>
                        </div>
                        <div class="comment-bt">
                            <p><%= f.description %> </p>
                        </div> 
                    </div>
                    
                </li>
            <% end %>  
            
        </ul>
    </div>
</div>

