
<article class="section">
    <div class="container">
        <div class="col-md-9 contents">
            <div class="projects projects-list">
                <ul class="media-list">
                    <% @children.each do |h|%>
                        <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                            <figure class="hover-strip pull-left">
                                <a class="pull-left">
                                    <%= image_tag h.avatar(:medium)%>
                                </a>
                                <div class="date-tag">JAM</div>
                            </figure>
                            <div class="media-body">
                                <h3 class="media-heading"><%= h.title %></h3>
                                <p><%= h.description %></p>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
        
        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
                <ul>
                    <li><a href="#">A</a><i class="icon-user"></i></li>
                    <li><a href="#">B</a><i class="icon-user"></i></li>
                    <li><a href="#">C</a><i class="icon-user"></i></li>
                    <li><a href="#">D</a><i class="icon-user"></i></li>
                    <li><a href="#">K</a><i class="icon-user"></i></li>
                </ul>
            </div>
        </div>
    </article>
