<article class="section">
    <div class="container">
        <div class="teams grid-4">
            <ul>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-1.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">John Smith</a></h4>
                        <p>Manager</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="100">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-2.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Bob Doe</a></h4>
                        <p>C.E.O</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="200">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-3.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Adina</a></h4>
                        <p>Accountant</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="300">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-4.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Anna</a></h4>
                        <p>Consultant</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="400">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-5.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Carmel</a></h4>
                        <p>Marketing Manager</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="500">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-6.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Joseph</a></h4>
                        <p>President</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="600">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-7.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Bilhah</a></h4>
                        <p>President</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
                <li class="animated fadeInUp in" data-animation="fadeInUp" data-delay="800">
                    <div class="team-box">
                        <div class="image-box">
                            <figure class="image">
                                <img src="./Helping Hands team_files/team-8.jpg" alt="image">
                                <figcaption>
                                    <a href="http://wow-themes.com/demo/html/helpinghands/team.html#" class="image-email">
                                        <i class="icon-envelope-o"></i>
                                        <p>Send E-Mail</p>
                                    </a>
                                    <div class="btm">
                                        <a class="icon-twitter" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-facebook" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-dribbble" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                        <a class="icon-skype" href="http://wow-themes.com/demo/html/helpinghands/team.html#"></a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <h4><a href="http://wow-themes.com/demo/html/helpinghands/team-detail.html">Douglas</a></h4>
                        <p>President</p>
                        <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</article>