<article class="section">
    <div class="container">
        <div class="col-md-9 contents">
            <% @usaboard.each do |usa|%>
                <div class="projects projects-list">
                    <ul class="media-list">
                        <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                        	<figure class="hover-strip pull-left">
                        		<a class="pull-left">
                                	<%= image_tag usa.avatar(:medium)%>
                                </a>
                                <div class="date-tag"><span></span>JAM</div>
                            </figure>
                            <div class="media-body">
                                <h4 class="media-heading"><b><%= usa.title %></b></h4>
                            	<ul class="options">
                                	<li><i class="icon-map-marker"></i><%= usa.address %></li>
                                </ul>
                                <hr/>
                                <p><%= usa.description %></p>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            <% end %>
            
        </div>
        
        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
				<ul>
                	
                </ul>
            </div>
        </div>
    </article>