
<article class="section">
    <div class="container">
        <div class="col-md-9 contents">
            <div class="projects projects-list">
                <ul class="media-list">
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                    	<figure class="hover-strip pull-left">
                    		<a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                            	<img src="./Helping Hand projects_files/img-24.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Health and Education</a></h4>
                        	<ul class="options">
                            	<li><i class="icon-crosshairs"></i>$1800 / $70,000</li>
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                    	<figure class="hover-strip pull-left">
                    		<a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                            	<img src="./Helping Hand projects_files/img-25.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Donate for Future</a></h4>
                        	<ul class="options">
                            	<li><i class="icon-crosshairs"></i>$1800 / $70,000</li>
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                    	<figure class="hover-strip pull-left">
                    		<a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                            	<img src="./Helping Hand projects_files/img-26.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Women's Rights</a></h4>
                        	<ul class="options">
                            	<li><i class="icon-crosshairs"></i>$1800 / $70,000</li>
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                    	<figure class="hover-strip pull-left">
                    		<a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                            	<img src="./Helping Hand projects_files/img-27.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Speaking For Justice</a></h4>
                        	<ul class="options">
                            	<li><i class="icon-crosshairs"></i>$1800 / $70,000</li>
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                    	<figure class="hover-strip pull-left">
                    		<a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                            	<img src="./Helping Hand projects_files/img-24.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Health and Education</a></h4>
                        	<ul class="options">
                            	<li><i class="icon-crosshairs"></i>$1800 / $70,000</li>
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                    <li class="media animated bounceIn in" data-animation="bounceIn" data-delay="0">
                    	<figure class="hover-strip pull-left">
                    		<a class="pull-left" href="http://wow-themes.com/demo/html/helpinghands/projects.html#">
                            	<img src="./Helping Hand projects_files/img-25.jpg" class="media-object" alt="image">
                            </a>
                            <div class="date-tag"><span>18</span>Dec</div>
                        </figure>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Donate for Future</a></h4>
                        	<ul class="options">
                            	<li><i class="icon-crosshairs"></i>$1800 / $70,000</li>
                                <li><i class="icon-map-marker"></i>In Iraq</li>
                            </ul>
                            <p>Cumsociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnisodas dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a accumsan erat. Etiam et dui lorem.</p><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#" class="btn btn-default">Read More</a>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="pagination">
                <li class="prev"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#"></a></li>
                <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">01</a></li>
                <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">02</a></li>
                <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">03</a></li>
                <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">...</a></li>
                <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">08</a></li>
                <li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">09</a></li>
                <li class="next"><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#"></a></li>
            </ul>
        </div>
        
        <div class="col-md-3 sidebar">
            
            <div class="widget widget_categories animated fadeInUp in" data-animation="fadeInUp" data-delay="0">
                <header class="heading">
                    <h4>Categories</h4>
                </header>
				<ul>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Active Projects</a>(15)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Implemented Projects</a>(12)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Help</a>(05)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Human</a>(15)</li>
                	<li><a href="http://wow-themes.com/demo/html/helpinghands/projects.html#">Mercy</a>(07)</li>
                </ul>
            </div>
        </div>
    </article>




<div class="container">

	<div class="comment-area">
		<h4>Founders</h4>
		<ul class="user-comments section">
	    	<li>
	            <div class="comment-box animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
	                <figure>
	                    <%= image_tag('jam.png', :size => "200x200")%>
	                </figure> 
	                <div class="comment-tp">
	                    <strong>John David</strong>
	                    <p>Wednesday, 14 Jan 2014</p>
	                </div>
	                <div class="comment-bt">
	                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
	                	<a class="comment-reply-link" href="http://wow-themes.com/demo/html/helpinghands/blog-detail.html#">Reply</a>
					</div>
	            </div>
	            
	        </li>  
	        <li>
	            <div class="comment-box animated fadeInLeft in" data-animation="fadeInLeft" data-delay="0">
	                <figure>
	                    <%= image_tag('jam.png', :size => "200x200")%>
	                </figure> 
	                <div class="comment-tp">
	                    <strong>John David</strong>
	                    <p>Wednesday, 14 Jan 2014</p>
	                </div>
	                <div class="comment-bt">
	                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
	                    <a class="comment-reply-link" href="http://wow-themes.com/demo/html/helpinghands/blog-detail.html#">Reply</a>
	                </div>
	            </div>
	        </li>
	        
	    </ul>
	</div>
</div>