// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.jumbo {
  margin-bottom: 0px;
  height: 450px;
  background:transparent;
}

.back{
	background-image: image-url('face.PNG');
	background-repeat: no-repeat;
	background-size: 100%;
}