
<div class="container">
	 <div class="row">
            <div class="col-md-12">
                <div class="testimonials-section">
                    <div class="caro-fade animated flipInX in" data-animation="flipInX" data-delay="0">
                        <div class="testimonials">
                            <figure class="image img-rounded">
                                <%= image_tag("logo.png")%>
                            </figure>
                                <div class="row">
		                            <div class="col-md-4">
						                <h3 class="color-theme">Watch video</h3>
						                <iframe src="http://player.vimeo.com/video/88617114?title=0&byline=0&portrait=0&color=00b952" width="320" height="228" frameborder="0"></iframe>
						            </div>
						            <div class="col-md-4">
						            	<h3 class="color-theme">Like us on Facebook</h3>
						                <div class="fb-like-box" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;ref_type=logout_gear" data-width="700x700" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

						            </div>
						            <div class="col-md-4">
						            	<h3 class="color-theme">Comment or Share</h3>
						                <div class="fb-comments" data-href="https://www.facebook.com/JunaAmagara?skip_nax_wizard=true&amp;ref_type=logout_gear" data-width="300x300" data-numposts="2" data-colorscheme="light"></div>
						            </div>
						        </div>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>

<div style="margin-bottom:50px;">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color:#57270A;">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="pull-right	"><a href="#">Copyright 2014-12-15 13:53:48 +0000</a></li>
				<li class=""><a href="#"></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Coming Soon <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Health Tips</a></li>
						<li><a href="#">Counseling</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
            	
				<li class="dropdown">
					 <a href="#" class="scroll-up"></a>
				</li>
          	</ul>
		</div>
	</nav>
</div>


