<div class="container">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Patners</h3>
	  </div>
	  <div class="panel-body">
	   Social plugin
	  </div>
	  <div class="panel-footer" align="center">
	    Juna Amagara Ministries<br/>
		Juna Amagara is a registered Non-Government Organization in the Republic of Uganda<br/>
		and is recognized by the U.S. IRS as a 501(c)3 not-for-profit corporation
	</div>
</div></div>

<div class="modal-footer">Juna amagara copyright 2014</div>