
<div class="container" style="padding:105px;">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="pull-right	"><a href="#">Copyright 2014-12-15 13:53:48 +0000</a></li>
				<li class=""><a href="#"></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Coming Soon <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Health Tips</a></li>
						<li><a href="#">Counseling</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
            	
				<li class="dropdown">
					 <a href="#" class="scroll-up"></a>
				</li>
          	</ul>
		</div>
	</nav>
</div>


